<style type="text/css">
.section22 ol{list-style:none;margin:0;padding:0;}
.section1{ font-family: "微软雅黑"; font-size: 14px;color:#666;margin-bottom:15px;}
.section14{margin-left: 11px;}
.sectionadd{margin-top:10px;}
.detail .section22 i{font-style:normal;}
.detail .section19 span{  font-weight: bold;  color:#333;}
.detail .section19 p i{display: inline-block;width: 6px;height: 6px;border-radius:50%;background:#999;margin-right: 5px;vertical-align: middle;}
.detail .section19 i{font-style:normal;}

.sectioncontact  .section14{margin-top:30px;}
/*.section1 .webchatjobdetail li span i,.section1 .webchatjobdetail li span span{display:inline-block;float:left;}*/
/*.section1 .webchatjobdetail li span i{width: 20%;}*/
/*.job-content .detail .panel-instruct .panel-body section span{width: 80%;}*/


</style>
<section class="section1">
  <section class="section18 sectionadd">
    <section class="section19 section14">
      <p>
        <i></i><span>{$Think.lang.signup_path}</span>
      </p>
    </section>
  </section>
  <section class="section22">
  <ol class="list-paddingleft-2 webchatjobdetail webchatjobdetailo">
  <li>
  <p class="tofloat">
      <i>{$Think.lang.signup_path_1_title}{$Think.lang.colon}</i><span class="text">{$Think.lang.signup_path_1}</span>
  </p>
  </li>
  <li>
  <p class="tofloat">
      <i>{$Think.lang.signup_path_2_title}{$Think.lang.colon}</i><span class="text">{$Think.lang.signup_path_2}</span>
  </p>
  </li>
  <li>
  <p class="tofloat">
      <i>{$Think.lang.signup_path_3_title}{$Think.lang.colon}</i><span class="text">{$Think.lang.signup_path_3}</span>
  </p>
  </li>
  </ol>
  </section>
</section>
<section class="section1">
  <section class="section19 section14">
          <p>
            <i></i><span>{$Think.lang.signup_view}</span>
          </p>
        </section>
  <section class="section22">
    <ol class="list-paddingleft-2 webchatjobdetail webchatjobdetailo">
      <li>
        <p class="tofloat">
            <i>{$Think.lang.signup_view_time_title}{$Think.lang.colon}</i><span class="text">{$Think.lang.signup_view_time}</span>
        </p>
      </li>
      <li>
        <p class="tofloat">
            <i>{$Think.lang.signup_view_place_title}{$Think.lang.colon}</i><span class="text">{$Think.lang.signup_view_place}</span>
        </p>
      </li>
      <li>
        <p class="tofloat">
            <i>{$Think.lang.signup_view_road_title}{$Think.lang.colon}</i><span class="text">{$Think.lang.signup_view_road}</span>
        </p>
      </li>
    </ol>
  </section>
</section>
<section class="section1">
  <section class="section19 section14">
    <p>
      <i></i><span>{$Think.lang.other_contact}</span>
    </p>
  </section>
  <section class="section22 sectioncontact">
    <ol class="list-paddingleft-2 webchatjobdetail">
      <li>
        <p><span class="glyphicon glyphicon-user" style="margin-right:10px;"></span>{$Think.lang.other_contact_man} </p>
      </li>
      <li>
        <p class="contactphone"><span class="glyphicon glyphicon-phone" style="margin-right:10px;"></span>{$Think.lang.other_contact_mobile} </p>
      </li>
      <li>
        <p><span class="glyphicon glyphicon-wechat glyphicon-wechat2" style="margin-right:10px;"></span>{$Think.lang.other_contact_wechat}</p>
      </li>
      <li>
        <p><span class="glyphicon glyphicon-qq glyphicon-qq2" style="margin-right:10px;"></span>{$Think.lang.other_contact_qq}</p>
      </li>
    </ol>
  </section>
</section>