<ul class="list">
  <li>
    <h5>{$Think.lang.signup_path}</h5>
    <ul class="list-unstyled">
      <li>{$Think.lang.signup_path_1}</li>
      <li>{$Think.lang.signup_path_2}</li>
      <li>{$Think.lang.signup_path_3}</li>
    </ul>
  </li>
  <li>
    <h5>{$Think.lang.signup_view}</h5>
    <ul class="list-unstyled">
      <li>{$Think.lang.signup_view_time}</li>
      <li>{$Think.lang.signup_view_place}</li>
      <li>{$Think.lang.signup_view_road}</li>
    </ul>
  </li>
  <li>
    <h5>{$Think.lang.other_contact}</h5>
    <ul class="list-inline contact row">
      <li class="col-sm-3"><span class="glyphicon glyphicon-user"></span>{$Think.lang.other_contact_man}</li>
      <li class="col-sm-3"><span class="glyphicon glyphicon-phone"></span>{$Think.lang.other_contact_mobile}</li>
      <li class="col-sm-3"><span class="glyphicon glyphicon-phone"></span>{$Think.lang.other_contact_wechat}</li>
      <li class="col-sm-3"><span class="glyphicon glyphicon-phone"></span>{$Think.lang.other_contact_qq}</li>
    </ul>
  </li>
</ul>