<footer class="main-footer">
  <div class="container">
    <ul class="nav nav-tabs sitemaps">
      <li class="first"><a href="/index/index/about">关于我们</a></li>
      <li><a href="/index/index/contact">联系方式</a></li>
      <li><a href="/index/index/protocol">用户协议</a></li>
    </ul>
    <div class="text-center authentication">
      <span>Copyright © 江苏众鑫蓝企业管理有限公司</span>
      <a href="http://www.miitbeian.gov.cn/" class="icp">苏ICP备17043895号</a>    
    </div>    
    <div class="copyright">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 text-right">
          <address>
            江苏省昆山市开发区柏庐路东中华园路北博悦万品大厦2幢923室
          </address>  
        </div>
        <div class="col-md-3 text-left"><abbr title="Phone">客服电话：</abbr>15000891565</div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <dl class="qrcode">
      <dt><img src="{$Think.config.img_domain}/qrcode_258.jpg"></dt>
      <dd>扫一扫</dd>
    </dl>
  </div>
</footer>
<div id="goTopBtn" style="display: block;">
    <a bosszone="backtop" style="" title="返回顶部"></a>
    <p>回到顶部</p>
</div>