{extend name="$base" /}
{block name="banner"}
{/block}
{block name="content"}
<div style="background-color:#f3f3f3">
  <div class="container">
    <p style="text-align:center; margin-top:20px;">
      <strong><span style="font-family: 宋体;font-size: 19px"><span style="font-family:宋体">网站声明</span></span></strong>
  </p>
  <p style="text-align:center">
      <strong><span style="font-family: 宋体;font-size: 19px">&nbsp;</span></strong>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">永乐打工网（</span>www.yldagong.com<span style="font-family:宋体">以下简称“本网站”）致力于免费为基层打工者提供求职服务的平台，为基层打工者提供各类信息服务和网络实用功能，此声明为本网站的使用条款，凡浏览本网站或相关网页的用户均被认为接受以下条款。本网站保留对网页包含的信息和资料及显示的条款、条件和说明变更的权利。变更自公布时起生效，凡继续使用本网站的，视为接受这些更改，内容按更改后的内容执行。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">对于本网站提供的服务及服务中涉及的技术、资料和信息，可以合法的使用。任何单位或个人不得利用本网站从事违法或损害他人利益的行为。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">您通过其他网站链接进入本网站可能存在登录其他假冒网站的风险，建议您采用安全的方式（如在地址栏中直接输入</span>www.yldagong.com<span style="font-family:宋体">）访问本网站。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">版权声明</span></span></strong>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <span style="font-family:宋体;font-size:14px">一、</span><span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">本网站网页所涉及的任何资料</span>(<span style="font-family:宋体">包括但不限于文字报导、图片、声音、录像、图表、广告、域名、软件、程序、版面设计、专栏目录与名称、内容分类标准</span><span style="font-family:Calibri">)</span><span style="font-family:宋体">的版权均属本网站和资料提供者所有。未经本网站面许可，任何人不得引用、复制、转载、摘编或以其他任何方式非法使用本网站的上述内容。对于有上述行为者，本网站将保留追究其法律责任的权利。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">二、属于本网站特有的，用以区别于其他同类服务机构的文字、图形、字母、数字、三维标志和颜色的组合及上述诸要素的组合，均属于本单位的商标、标识，受法律保护。未经许可不得修改、复制或以其他方式使用上述商标、标识。任何试图淡化或丑化上述商标、标识的行为都是违法行为，我方保留追究其法律责任的权利。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">链接声明</span></span></strong>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">　一、本网站上的链接仅作为一种方便服务提供给您。本网站没有审查过所有这些第三方网站，对任何这些网站及其内容不进行控制，也不负任何责任。本网站对这些网站上的任何信息、软件及其它产品或材料，或者通过使用它们可能获得的任何结果不予认可，也不作任何陈述。如果您决定连到本站的任何第三方网站，其风险全部由自已承担。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">二、我方致力于提供良好的网站和资料，供用户考虑。对与我方有合作关系的第三方网站，我方会做出明确声明。但该声明并不视为我方同意、推荐、认可或保证该网站上提供的任何商品或服务，亦不视为我方与该网站存在任何形式的合作。</span></span>
  </p>
  <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p>
      <span style="font-family:宋体;font-size:14px">三、</span><span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">未经我方同意，任何第三方不得与本网站建立链接。我方有权决定是否建立此链接。依此建立的链接，并不构成我方与该网站存在任何合作关系，也不视为我方对该网站的认可。除以特定目的（如提供各种搜索服务）使用本网站链接外，任何将使用者导向本网站的链接，均需直接链接至本网站。用户基于对该链接的信任而产生的交易，风险由用户自行承担，我方不承担任何责任。</span></span>
  </p>
  <p style=";text-align:justify;text-justify:inter-ideograph">
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
  </p>
  <p style=";text-align:justify;text-justify:inter-ideograph">
      <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">转载声明</span></span></strong>
  </p>
  <p style=";text-align:justify;text-justify:inter-ideograph">
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
  </p>
  <p style=";text-align:justify;text-justify:inter-ideograph">
      <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">若要转载或是引用本网站内容，请注明信息来源或是直接与本网站联系。未经同意，任何单位或个人不得引用、复制、转载本网站内容，若发生上述情况本网站将保留追究其法律责任的权利，并对此引起的后果不负任何责任。</span></span>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">隐私保密声明</span></span></strong>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">一、</span></span></strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">为了让用户得到更好的服务，在取得用户同意的前提下会收集一些用户的信息。本网站在此承诺会依据国家法律法规的规定，采取措施保护客户的信息安全，在未取得客户同意的前提下，不得泄露或授权第三人使用。</span></span>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">二、</span><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">在符合法律规定的前提下，有关部门依照法定的程序要求我方提供客户的信息时，本网站依据其要求提供客户的信息，本网站均应免责。</span></span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">三、</span><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">用户将个人账号透露给他人使用或用户计算机遭黑客攻击、病毒侵入或其他不可抗逆的因素，导致用户信息泄露、丢失、被盗或遭到篡改的我方不承担任何法律责任。</span></span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">免责声明</span></span></strong>
  </p>
  <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">一、</span><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">本网站的任何信息，不构成今后合同交易要约的一部分，我方不对因本网站全部或部分内容产生的损失或信赖本网站全部或部分内容产生的损失，负任何责任。</span></span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">二、</span><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">互联网数据传输可能会出现异常、错误等现象，对于非我方不能控制的因素造成的损失，我方概不负责。</span></span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
  </p>
  <p>
      <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">三、如第三方网站通知我方存在侵权信息、资料，我方在接到通知后会及时修改、删除。</span></span>
  </p>
  <p>
      <br/>
  </p>
  </div>
</div>
{/block}
