{extend name="$base" /}
{block name="banner"}
{/block}
{block name="content"}
<div style="background-color:#f3f3f3">
<div class="container">
	<div  style=" text-align:center; margin-top:20px;"><p class="MsoNormal" align="center" style="text-align:center; font-size:20px;">
	用户协议
</p>
<p class="MsoNormal" align="center" style="text-align:center;">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	若要访问和使用永乐打工网网站，您必须不加修改地完全接受本协议中所包含的条款、条件和永乐打工网网站即时刊登的通告，并且遵守本网站的相关法律、规定与规则。一旦您访问、使用了永乐打工网网站，即表示您同意并接受了下述所有条款、条件及通告。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	<b>会员注册和隐私保护</b><b></b>
</p>
<p class="MsoNormal" align="left">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal" align="left">
	1 用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示用户与永乐打工网达成协议，完全接受本协议项下的全部条款。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	2 为了给您带来更好的用户服务，请您提供详尽准确的个人资料，如更改请及时更新，提供虚假资料所造成的后果由用户自行承担。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	3 用户注册成功后，永乐打工网将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	4 用户不应将其帐号、密码转让、出售或出借予他人使用，若用户授权他人使用账户，应对被授权人在该账户下发生所有行为负全部责任。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	我们不会以任何理由将您个人信息出租或出售给任何第三方， 我们不会将您的联系方式与其他用户分享，除非双方均同意联系对方或双方已知悉对方联系方式， 您所提供的任何个人信息均会以业内标准技术得以保密。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	<b>使用规则</b><b></b>
</p>
<p class="MsoNormal" align="left">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal" align="left">
	1 侵犯他人的版权、商业机密、或其他知识产权，或侵犯了他人的隐私权、出版权或其他个人合法权利。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	2 利用本网站传送、分发、储存属于诽谤、淫秽、威胁、辱骂性、毁损他人或其他非法或者违反社会公序良俗的材料。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	3 利用本网站提供的服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	4 用户可以下载本网站上显示的资料，但这些资料只限用于个人学习研究使用，不得用于任何商业用途，无论是否在资料上明示，所有此等资料都是受到版权法的法律保护。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	5 用户没有获得永乐打工网网站或各自的版权所有者明确的书面同意下，不得分发、修改、散布、再使用、再传递或使用本网站的内容用于任何公众商业用途。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	6 不要在简历中心公布不完整、虚假或不准确的简历资料，不要公布不是简历的资料，如意见、通知、商业广告或其他内容。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	7 以任何形式使用本网站提供的服务进行任何不利于本网站的行为。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	<b>风险声明</b><b></b>
</p>
<p class="MsoNormal" align="left">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal" align="left">
	永乐打工网在此特别声明对如下事宜不承担任何法律责任
</p>
<p class="MsoNormal" align="left">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal" align="left">
	1 永乐打工网网站在此声明，对您使用网站、与本网站相关的任何内容、服务或其它链接至本网站的站点、内容均不作直接、间接、法定、约定的保证。 <span></span>
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	2 无论在任何原因下（包括但不限于疏忽原因），对您或任何人通过使用本网站上的信息或由本网站链接的信息，或其他与本网站链接的网站信息所导致的损失或损害（包括直接、间接、特别或后果性的损失或损害，例如收入或利润之损失，电脑系统之损坏或数据丢失等后果），责任均由使用者自行承担（包括但不限于疏忽责任）
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	3 用户明确同意其使用永乐打工网网络服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过永乐打工网服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。永乐打工网对在服务网上得到的任何商品购物服务、交易进程，都不作担保。
</p>
<p class="MsoNormal" align="left">&nbsp;
	
</p>
<p class="MsoNormal" align="left">
	鉴于永乐打工网已依法明确了上述条款、履行了格式条款制订方的义务，用户点击立即注册或使用永乐打工网各项服务，将被视为且应当被视为用户已经完全注意并同意了本协议所有条款尤其是提醒用户注意的条款的合法性及有效性，用户不应当以永乐打工网未对格式条款以合理方式提醒用户注意或未根据用户要求尽到说明义务为理由而声称或要求法院或其它任何第三方确认相关条款非法或无效。
</p></div>
</div>
</div>
{/block}
