<footer>
  <div class="container main-footer">
    <ul class="nav nav-tabs sitemaps addrecruit">
      <li class="first"><a href="/index/index/about">关于我们</a></li>
      <li><a href="/index/index/contact">联系方式</a></li>
      <li><a href="/index/index/statement">网站声明</a></li>
      <li><a href="/index/index/protocol">用户协议</a></li>
      <li><a href="/index/index/recruit">诚聘英才</a></li>
    </ul>
    <div class="text-center authentication">
      <span>Copyright © 江苏众鑫蓝企业管理有限公司</span>
      <a href="http://www.miitbeian.gov.cn/" class="icp">苏ICP备17043895号</a>    
    </div>    
    <div class="copyright">
      <div class="row">
        <div class="col-sm-8 col-md-7 text-right">
          <address>
            地址：江苏省昆山市开发区柏庐路东中华园路北博悦万品大厦2幢923室
          </address>  
        </div>
        <div class="col-sm-4 col-md-5 text-left">客服电话：0512-57353025（王经理）</div>
      </div>
    </div>
    <dl class="qrcode">
      <dt><img src="{$Think.config.img_domain}/qrcode_258.jpg"></dt>
      <dd>扫一扫</dd>
    </dl>
    <span class="service-phone"></span>
    <div class="third-part-auth">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263359102'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1263359102%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
  </div>
</footer>
<div class="shortcut">
  <a class="icon qbtn qrcode" data-target="popupQrcode" style="display:none;"></a>
  <a class="icon qbtn service" data-target="popupService"></a>
  <a class="icon qbtn invite" id="popupInvite"></a>
  <a class="icon top" href="#top"></a>
  <div class="tooltip left popup popup-qrcode" role="tooltip" id="popupQrcode">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner"><img src="{$Think.config.img_domain}/qrcode_258.jpg"><div>微信扫一扫</div></div>
  </div>
  <div class="tooltip left popup popup-service" role="tooltip" id="popupService">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=675806609&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:675806609:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    </div>
  </div>
  <div class="tooltip left popup popup-invite" role="tooltip" id="popupInvite">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
      <h4>推荐好友入职满一定天数即可领取现金奖励</h4>
      <ul class="list-unstyled">
        <li>1-2人<b>奖金100元/人</b></li>
        <li>3-5人<b>奖金150元/人</b></li>
        <li>6人及以上<b>奖金200元/人</b></li>
      </ul>
      <a class="btn btn-default btn-signup" role="button" href="javascript:signup(1)">点击推荐</a>
    </div>
  </div>
</div>