{extend name="$base" /}
{block name="banner"}
{/block}
{block name="content"}
<div>
    <div class="container conbox">
        <div class="company-profile">
            <h2 class="toJoin">永乐打工网团队期待你的加入，让我们一起实现更多梦想！</h2>
            <div class="invite">
                <p>在永乐打工网 ，我们的人才策略很简单：我们邀请优秀的人才加盟并鼓励他们实现自己的梦想。</p>
                <p>我们推崇专业的技能、时尚的思维、进取的工作、快乐的管理环境、以及背景各异的人才相互沟通激荡出的创造力，</p>
                <p>我们相信无论你在永乐打工网工作，你的激情和梦想，将会创造出永远超越自我的辉煌。</p>
                <p> <span style="color:#e40011;font-size: 16px;">永乐打工网</span>
                    <span style="padding-bottom:20px;">(www.yldagong.com )隶属江苏众鑫蓝企业管理有限公司，<br>
                        2017年6月在江苏昆山正式成立,7月所有手机版本客户端全面上线，8月线下求职服务团队将会突破100人，真正意义上做到蓝领招聘领域的移动互联网O2O模式 !</span></p>
            </div>
            <div style="font-size:14px;font-weight: bold;line-height: 30px;">
                <span>求职咨询热线：15000891565</span>
                <p>联系人:王经理</p>
                <p><span>公司地址:</span><span>昆山市柏庐南路1003号博悦&nbsp;万品大厦9楼923室</span></p>
            </div>
        </div>
        <div class="recruit-list">
         <ul class="recruit-list-ul list-unstyled">
            <li>
                <h2>项目经理</h2>
                <ul class="title-detail list-inline">
                    <li>工作地点：<span>昆山</span></li>
                    <li>招聘人数：<span>若干</span></li>
                    <li>薪资 : <span class="recruit-salary">面议</span></li>
                </ul>
                <div class="recruit-duty">
                    <h3>工作职责：</h3>
                    <p>1、<span>帮助销售人员完成个人和团队销售指标及KPI行为考核，提高他们的销售技能；</span></p>
                    <p>2、<span>把握组内销售人员的客户情况，建立团队完善的客户档案体系；</span></p>
                    <p>3、<span>根据公司销售目标分解销售任务，与下属讨论制定承诺额、执行策略与措施，监控任务达成情况，分析偏差原因并及时指导改进，确保承诺目标的完成；</span></p>
                </div>
                <div class="recruit-duty">
                    <h3>工作要求：</h3>
                    <p>1、<span>大学专科及以上学历，有互联网/人力资源销售经验，2年以上带领团队的管理经验优先；</span></p>
                    <p>2、<span>熟悉公司产品知识，熟悉营销、管理相关知识，具备目标绩效管理、过程控制等方面知识与实践技巧，具备较强的演讲、沟通、团队管理能力和分析判断、决策、资源整合能力，诚信客观； </span></p>
                    <p>3、<span>具备良好的项目管理能力、成就导向、团队合作和管理沟通能力；</span></p>
                </div>
            </li>
            <li>
                <h2>求职顾问</h2>
                <ul class="title-detail list-inline">
                    <li>工作地点：<span>昆山</span></li>
                    <li>招聘人数：<span>若干</span></li>
                    <li>职位类别：<span>市场营销</span></li>
                    <li>薪资 : <span class="recruit-salary">面议</span></li>
                </ul>
                <div class="recruit-duty">
                    <h3>工作职责：</h3>
                    <p>1、<span>为客户提供专业的咨询以及求职建议规划 ;</span></p>
                    <p>2、<span>通过电话及网络形式帮助客户解决求职问题定期电话形式对客户做出回访</span></p>
                    <p>3、<span>相关资料的录入、更新、整理等</span></p>
                    <p>4、<span>严格按照公司管理模式、工作流程标准开展工作，确保良好的客户服务质量</span></p>
                </div>
                <div class="recruit-duty">
                    <h3>工作要求：</h3>
                    <p>1、<span>声音亲和力好，普通话标准，语言表达能力强</span></p>
                    <p>2、<span>具有优良的客户服务观念及沟通技巧，高度的责任心和工作热情;  </span></p>
                    <p>3、<span>大专以上学历（有经验放宽学历）做过电话客服、电话销售、专业顾问等优先考虑 ，女士优先考虑</span></p>
                </div>
            </li>
            <li>
                <h2>市场专员</h2>
                <ul class="title-detail list-inline">
                    <li>工作地点：<span>昆山</span></li>
                    <li>招聘人数：<span>若干</span></li>
                    <li>职位类别：<span>市场营销</span></li>
                    <li>薪资 : <span class="recruit-salary">面议</span></li>
                </ul>
                <div class="recruit-duty">
                    <h3>工作职责：</h3>
                    <p>1、<span>安排求职者和企业对接，接送求职者到达指定位置并入驻企业</span></p>
                    <p>2、<span>和销售部对接以及求职者对接，提高工作效率</span></p>
                    <p>3、<span>在公司活动期间，帮助求职者解决问题。</span></p>
                    <p>4、<span>参与企业文化建设工作，包括各项会务的组织和安排；</span></p>
                    <p>5、<span>完成上级交给的其它事务性工作。</span></p>
                </div>
                <div class="recruit-duty">
                    <h3>工作要求：</h3>
                    <p>1、<span>35岁以下、亲和力好，能够耐心细致；</span></p>
                    <p>2、<span>退伍军人优先；对昆山路线熟悉，会开车（以商务车和面包车为主）  </span></p>
                    <p>3、<span>工作热情积极、细致耐心，具有良好的沟通能力、协调能力，性格开朗，待人热诚；</span></p>
                </div>
            </li>
        </ul>
    </div>
    </div>
</div>
{/block}


