<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h4 row">
        <ul class="col-sm-10 breadcrumb m-b-none">
            <li><a href=""><i class="fa fa-home"></i> 文章</a></li>
            <li class="active ng-binding">{{vm.operate}}</li>
            <li class="active ng-binding" ng-if="vm.edit">{{vm.article.title}}</li>
        </ul>
        <a ng-href="#/app/article/list" class="btn btn-sm btn-icon btn-info pull-right m-r-xs" title="返回列表"><i class="fa fa-chevron-left"></i></a>
        <a ng-href="#/app/article/{{vm.article.id}}/thumb" class="btn btn-sm btn-icon {{vm.thumbclass}} m-r-xs pull-right" ng-show="vm.edit" title="设置封面"><i class="fa fa-file-image-o"></i></a>
    </h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12">
            <form name="forma" class="form-validation">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入标题" ng-model="vm.article.title" required minlength="3" >
                        </div>
                        <div class="form-group">
                            <div class="ueditor" config="config" ng-model="vm.article.content"></div>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" ng-click="vm.submitInfo()" ng-disabled='forma.$invalid || vm.submitting'>Submit</button>
                    </footer>
                    <div class="alert alert-warning" role="alert">{{vm.error}}</div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/ng-template" id="modal.html">
        <div ng-include="'tpl/modal.html'"></div>
    </script>
</div>