<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
        客户详情
      <a ng-click="vm.recognize(vm.customer.id)" class="btn btn-sm btn-icon btn-info pull-right  m-l-xs" title="认领"><i class="fa {{vm.customer_status.is_open?'fa-heart-o':'fa-heart'}} text-danger"></i></a>
      <a ng-href="#/app/candidate/{{vm.customer.id}}/contactform" class="btn btn-sm btn-icon btn-info pull-right  m-l-xs" title="创建联系记录"><i class="fa fa-phone"></i></a>
      <a ng-if="vm.customer_status.is_assign" ng-href="#/app/customer/{{vm.customer.id}}/form" class="btn btn-sm btn-icon btn-info pull-right" title="编辑"><i class="fa fa-edit"></i></a>
    </h1>
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="wrapper-lg">
        <div class="hbox m-b-lg">
          <div class="col text-center w-sm">
            <div class="thumb-lg avatar inline">
              <img ng-src="img/a{{vm.customer.gender | genderClass:2}}.jpg" tooltip="请称呼我【{{vm.customer.gender | genderClass:3}}】哦">
            </div>
            <div class="h1 font-thin text-info">
              {{vm.customer.real_name}}
            </div>
          </div>
          <!-- fields -->
          <div class="col form-horizontal">
            <div class="form-group m-b-sm">
              <label class="col-sm-offset-1 col-sm-1 control-label">籍贯:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.hometown}}</p>
              </div>
              <label class="col-sm-1 control-label">学历:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.career}}</p>
              </div>
              <label class="col-sm-1 control-label">年龄:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.age}}</p>
              </div>
            </div>
            <div class="form-group m-b-sm">
              <label class="col-sm-offset-1 col-sm-1 control-label">来源:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.from}}</p>
              </div>
              <label class="col-sm-1 control-label">身份证号:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.idcard}}</p>
              </div>
              <label class="col-sm-1 control-label">住址:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer_data.address}}</p>
              </div>
            </div>
            <div class="form-group m-b-sm">
              <label class="col-sm-offset-1 col-sm-1 control-label">QQ:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer_data.qq}}</p>
              </div>
              <label class="col-sm-1 control-label">邮箱:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer_data.email}}</p>
              </div>
              <label class="col-sm-1 control-label">微信:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer_data.wechat}}</p>
              </div>
            </div>
            <div class="form-group m-b-sm">
              <label class="col-sm-offset-1 col-sm-1 control-label">联系电话:</label>
              <div class="col-sm-2">
                <p class="form-control-static text-2x text-info">{{vm.customer.phone}}</p>
              </div>
              <label class="col-sm-1 control-label">备用电话:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.mobile_1}}</p>
              </div>
              <label class="col-sm-1 control-label">备注:</label>
              <div class="col-sm-2">
                <p class="form-control-static">{{vm.customer.description}}</p>
              </div>
            </div>
          </div>
          <!-- / fields -->
        </div>

      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<div class="wrapper-md wrapper-md-bt ng-scope">
  <div class="panel panel-default panel-removem">
    <div class="panel-heading ng-binding">
      工作经验
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
        <tr>
          <th>编号</th>
          <th>企业名称</th>
          <th>入职时间</th>
          <th>离职时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in vm.workhistorylist">
          <td>{{$index+1}}</td>
          <td>{{work.job_name}}</td>
          <td>{{work.create_time}}</td>
          <td>{{work.end_time}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div class="wrapper-md wrapper-md-bt ng-scope">
  <div class="panel panel-default panel-removem">
    <div class="panel-heading ng-binding">
      分配记录
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
        <tr>
          <th>状态</th>
          <th>分配时间</th>
          <th>负责顾问</th>
          <th>报名企业</th>
          <th>企业返费</th>
          <th>在职天数</th>
          <th>人选补贴</th>
          <th>推荐人</th>
          <th>推荐费</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="can in vm.assign">
          <td>{{can.status}}</td>
          <td>{{can.create_time}}</td>
          <td>{{can.employee}}</td>
          <td>{{can.job}}</td>
          <td>{{can.award}}</td>
          <td>{{can.dutydays}}</td>
          <td>{{can.subsidy}}</td>
          <td>{{can.inviter}}</td>
          <td>{{can.invite_amount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="wrapper-md wrapper-md-bt ng-scope">
  <div class="panel panel-default panel-removem">
    <div class="panel-heading ng-binding">
      联系记录
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
        <tr>
          <th>联系时间</th>
          <th>顾问名称</th>
          <th>联系内容</th>
          <th>联系结果</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cons in vm.contactrecord">
          <td>{{cons.contact_time}}</td>
          <td>{{cons.employee}}</td>
          <td class="break-word">{{cons.content}}</td>
          <td>{{cons.result}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div class="wrapper-md wrapper-md-bt ng-scope">
  <div class="panel panel-default panel-removem">
    <div class="panel-heading ng-binding">
      操作历史
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
        <tr>
          <th>操作编号</th>
          <th>操作时间</th>
          <th>操作人</th>
          <th>操作类型</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="detail in vm.detaildata">
          <td>{{$index+1}}</td>
          <td>{{detail.create_time}}</td>
          <td>{{detail.admin_id}}</td>
          <td>{{detail.type}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>