<div ng-controller="JobImagesController">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h4 row">
        <ul class="col-sm-10 breadcrumb m-b-none">
            <li><a href=""><i class="fa fa-home"></i> 职位</a></li>
            <li class="ng-binding"><a ng-href="#/app/job/{{job.id}}/show">{{job.job_name}}</a></li>
            <li class="active ng-binding">更新组图</li>
        </ul>
        <a ng-href="#/app/job/{{job.id}}/show" class="btn btn-sm btn-icon btn-info pull-right"><i class="fa fa-chevron-left"></i></a>
    </h1>
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col w-lg bg-light b-r bg-auto">
        <div class="wrapper-md dker b-b">
            <h3 class="m-n font-thin">选择图片</h3>
        </div>
        <div class="wrapper-md">
            <div ng-show="uploader.isHTML5" class="m-b-md">
                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                    Base drop zone
                </div>

                <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                <div nv-file-drop="" uploader="uploader" options="{}">
                    <div nv-file-over="" uploader="uploader" over-class="b-danger" class="b-a b-2x b-dashed wrapper-lg lter text-center">
                        Another drop zone with its own settings
                    </div>
                </div>
            </div>

            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            <p>选择多个文件</p>
            <input type="file" nv-file-select="" uploader="uploader" multiple  />

            <p class="m-t-md">选择单个文件</p>
            <input type="file" nv-file-select="" uploader="uploader" />
        </div>
    </div>
    <div class="col">
        <div class="wrapper-md bg-light dk b-b">
            <span class="pull-right m-t-xs">队列文件数: <b class="badge bg-info">{{ uploader.queue.length }}</b></span>
            <h3 class="m-n font-thin">上传队列</h3>
        </div>
        <div class="wrapper-md">
            <table class="table bg-white-only b-a">
                <thead>
                <tr>
                    <th width="50%">文件名称</th>
                    <th ng-show="uploader.isHTML5">尺寸</th>
                    <th ng-show="uploader.isHTML5">上传进度</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress progress-sm m-b-none m-t-xs">
                            <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            上传
                        </button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                            移除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <div>
                    <p>上传进度:</p>
                    <div class="progress bg-light dker" style="">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-addon btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <i class="fa fa-arrow-circle-o-up"></i> 全部上传
                </button>
                <button type="button" class="btn btn-addon btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <i class="fa fa-ban"></i> 全部取消
                </button>
                <button type="button" class="btn btn-addon btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <i class="fa fa-trash-o"></i> 全部移除
                </button>
            </div>
        </div>
        <div class="wrapper-md bg-light dk b-b">
            <h3 class="m-n font-thin">已上传图片</h3>
        </div>
        <div class="wrapper-md">
            <table class="table bg-white-only b-a">
                <thead>
                <tr>
                    <th ng-show="uploader.isHTML5">编号</th>
                    <th width="50%">文件名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(skye, svalue) in slides">
                    <td><strong>{{ skye }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ svalue.image }} </td>
                    <td nowrap>
                        <button type="button" class="btn btn-default btn-xs" ng-click="removeSlides(skye)">
                            删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel b-a" set-ng-animate="false" style="width: 400px; margin: 0 auto;">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" class="img-full">
                    </slide>
                </carousel>
            </div>
            <div>
                <div class="alert alert-warning" role="alert">{{error}}</div>
                <button type="button" class="btn btn-primary m-r" ng-click="updateImages()" ng-disabled="submitting">确定</button>
            </div>
        </div>
    </div>
</div>
</div>