<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">劳务公司</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
          <ul class="breadcrumb m-b-none">
              <li><a href=""><i class="icon icon-call-out"></i> &nbsp;劳务公司</a></li>
              <li class="active">列表</li>
          </ul>
      </div>
      <div class="panel-body b-b b-light">
        <div class="table-striped">
          <table class="table table-striped b-t b-light text-center">
            <thead>
              <tr>
                <th ng-repeat="item in vm.headers" class="text-center">{{item}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="labour in vm.labourlist" class="text-center">
                <td style="width: 5%; vertical-align: middle;">{{labour.id}}</td>
                <td style="width: 8%; vertical-align: middle;">{{labour.name}}</td>
                <td style="width: 10%; padding: 0!important; vertical-align: middle;"><a ng-href="#/app/labourservice/{{labour.id}}/form" class="btn m-b-xs btn-sm btn-primary fa fa-edit" title="编辑" href="#/app/labourservice/{{labour.id}}/form"></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="list-loading">
          <img ng-src="img/timg.gif" ng-show="vm.showLoading">
        </div>
    </div>
</div>