<div class="main-top">
  <div class="container clearfix" id="topInfoContainer">
    <a class="pull-left logo" href="/wechat/web" name="top"><img src="{$Think.config.img_domain}/logo-2.png"/></a>
    <!--<a class="pull-left logo" href="/wechat/web" name="top"><span></span></a>-->
    <span class="pull-left delimiter"></span>
    <div class="pull-left city" id="topCityList"><a>[ <span id="currentCityContainer">昆山</span> ]</a><a class="caret"></a></div> 
    <div class="pull-right user"><a id="userEntranceAjax">免费注册</a></div>
  </div>
</div>
<div class="top-city-list">
  <div class="container">
    <ul class="list-unstyled" id="switchCity">
      <li><a>昆山站</a></li>
      <li><a>上海站</a></li>
      <li><a>郑州站</a></li>
      <li><a>常熟站</a></li>
    </ul>
  </div>
</div>