<div class="pull-right" style="display:none;">
  <a class="navi-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list"></span></a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">首页</a></li>
    <li><a href="#">找工作</a></li>
    <li><a href="#">求职咨询</a></li>
  </ul>
</div>
<div class="pull-right">
  <a class="navi-icon" href="/wechat/job/search?key="><span class="glyphicon glyphicon-search"></span></a>
</div>
