<div class="container">  
<div class="btn-group btn-group-justified main-statistics" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <span class="item clearfix">
      <span class="glyphicon glyphicon-user"></span>
      <span class="text">本周新增职位</span>
      {volist name='$jobcount' id='ls'}
      <span class="label label-number">{$ls}</span>
      {/volist}
    </span>
  </div>
  <div class="btn-group" role="group">
    <span class="item clearfix">
      <span class="glyphicon glyphicon-list-alt"></span>
      <span class="text">今日申请报名</span>
      {volist name='$signcount' id='ls'}
        <span class="label label-number">{$ls}</span>
      {/volist}
    </span>
  </div>
</div>
</div>